pre{
	font-size: 11px;
}
.padded {
	padding: 15px;
}
.nav-pills > li > a {
	padding: 5px 7px;
}
.weatherHighLow {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	font-size: 24px;
}
.weatherDetailList {
	list-style: none;
}