/* Demonstrate the Block Model */
div {
	border: 1px solid black;
}
span {
	border: 1px solid red;
}
/* END Block Model */
.container {
	padding: 15px;
	border: 1px solid black;
}
h1 {
	color: red;
	margin-top: 0;
}
.exclamation {
	font-weight: bold;
	margin-left: -2px;
}
.redpillLink {
	color: blue;
	text-decoration: none;
}
.redpillLink:hover {
	color: red;
}