.container {
	padding: 15px;
}
.container {
	padding: 0;
}
h1 {
	color: red;
	margin-top: 0;
}
.exclamation {
	font-weight: bold;
	margin-left: -2px;
}
.redpillLink {
	color: blue;
	text-decoration: none;
}
.redpillLink:hover {
	color: red;
}
.exclamation {
	display: none;
}
.greeting::after {
	content: "!";
	font-weight: bold;
	color: red;
}