<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Backbone Exercise</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/underscore.js"></script>
		<script src="../js/backbone.js"></script>
		<script src="../BackboneExample/backboneExample.js"></script>
		<link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../CSS/training.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- This button will be hidden until the "sm" screen size. When visibile will target the Left Sidebar menu -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sideBar">
						<span class="sr-only">Toggle left navigation</span>
						<i class="glyphicon glyphicon-th" style="color: white;"></i>
					</button>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="../BootstrapExamples/BootstrapExercise.html" class="navbar-brand">Backbone Example</a>
				</div>
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Home
							</a>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">
								Dropdown Menu
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" data-toggle="modal" data-target="#myModal">Open Modal</a></li>
								<li><a href="#">Another action</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<!-- This will be our left hand menu. While a list-group would work, it can't fold up into a button, so we used the nav-stacked. You can use the "affix" class but be aware there are some other CSS tweaks
				you'll have to do in order to ensure everything lines up properly. Also notice that when we hit small we're using the col-sm-3. This is so the menu item text doesn't wrap. -->
				<div id="leftColumn" class="col-sm-3 col-md-2">
					<ul id="leftMenu" class="nav nav-pills nav-stacked collapse navbar-collapse" id="sideBar">
						<!-- Render our menu items here -->
					</ul>
				</div>
				<!-- This is our content area -->
				<div id="rightContent" class="col-sm-9 col-md-10">
					<h3>Underscore Templating System</h3>
					<p>An HTML Template is just a small chunk of HTML that is passed to a templating system of some sort. This allows us to break up our HTML into small consumable chunks and to make our HTML structures reusable. There are several templating systems to choose from:</p>
					<ul>
						<li>Underscore - Ships with Underscore and is very simple to use. Also doesn't add any additional dependencies to Backbone</li>
						<li>Handlebars - An OpenSource templating solution, very popular in the OpenSource Community</li>
						<li>Mustache - A derivitive of Handlebars, also very popular in the OpenSource Community</li>
					</ul>
					<h5>What does the Templating System provide?</h5>
					<p>The templating system provides a means of inserting Model data into the DOM at the place you choose. If you're using the Underscore templating system that syntax is '<%= modelAttribute %>'. This will place the value stored in the Model for 'modelAttribute' into the DOM in the location specified. Be wary of putting a lot of logic here as that logic is not testable by any of the Javascirpt testing engines. Logic placed in the template is also harder to troubleshoot.</p>

					<p>A Template can be as simple as just a property definition or as complex as an entire table structure. Sometimes just to create a place holder, it may just be a comment. The simplicity or complexity is totally up to the developer, however I advice to keep your templates as simple as possible. If you find yourself with a huge template, you may be better off splitting it up into more views and models.</p>

					<p>Here are a couple of templates used in the Backbone Example pages. Notice one of the templates is within a script block with a type of 'text/template'. This is so the template isn't rendered when the page loads and so the Javascript interpreter doesn't try to execute it as Javascript:</p>
					<code>
						<pre>
<b>&lt;-- A link element in the Left Side Menu Collection --&gt;</b>
&lt;a href=\'<%= linkUrl %>\'&gt;<%= title %>&lt;/a&gt;

<b>&lt;-- A Header element in the Hello Universe View Example --&gt;</b>
&lt;h4&gt;<%= exampleValue %>&lt;/h4&gt;

<b>&lt;-- A Weather Item element in the Collection Example --&gt;</b>
&lt;script type="text/template" id="weatherItemTemplate"&gt;
	&lt;div class="panel-heading"&gt;
		&lt;h5&gt;Weather for <%= new Date(dt * 1000).toLocaleDateString() %>&lt;/h5&gt;
	&lt;/div&gt;
	&lt;div class="panel-body"&gt;
		&lt;div class="col-md-2 weatherHighLow" style="background-image: url('http://openweathermap.org/img/w/<%= weather[0].icon %>.png');"&gt;
			<%= parseInt(temp.max,10) + '/' + parseInt(temp.min,10) %>
		&lt;/div&gt;
		&lt;div class="col-md-10 weatherDetail"&gt;
			&lt;ul class="weatherDetailList"&gt;
				&lt;li&gt;Description: <%= weather[0].description %>&lt;/li&gt;
				&lt;li&gt;Humidity: <%= humidity %>&lt;/li&gt;
				&lt;li&gt;Pressure: <%= pressure %>&lt;/li&gt;
				&lt;li&gt;Wind Speed: <%= speed %>&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/script&gt;
						</pre>
					</code>
				</div>
			</div>
		</div>
		<script type="text/javascript">
startBackboneCollection();
		</script>
	</body>
</html>
