<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Backbone Exercise</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/underscore.js"></script>
		<script src="../js/backbone.js"></script>
		<script src="../BackboneExample/backboneExample.js"></script>
		<link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../CSS/training.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- This button will be hidden until the "sm" screen size. When visibile will target the Left Sidebar menu -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sideBar">
						<span class="sr-only">Toggle left navigation</span>
						<i class="glyphicon glyphicon-th" style="color: white;"></i>
					</button>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="../BootstrapExamples/BootstrapExercise.html" class="navbar-brand">Backbone Example</a>
				</div>
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Home
							</a>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown">
								Dropdown Menu
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" data-toggle="modal" data-target="#myModal">Open Modal</a></li>
								<li><a href="#">Another action</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<!-- This will be our left hand menu. While a list-group would work, it can't fold up into a button, so we used the nav-stacked. You can use the "affix" class but be aware there are some other CSS tweaks
				you'll have to do in order to ensure everything lines up properly. Also notice that when we hit small we're using the col-sm-3. This is so the menu item text doesn't wrap. -->
				<div id="leftColumn" class="col-sm-3 col-md-2">
					<ul id="leftMenu" class="nav nav-pills nav-stacked collapse navbar-collapse" id="sideBar">
						<!-- Render our menu items here -->
					</ul>
				</div>
				<!-- This is our content area -->
				<div id="rightContent" class="col-sm-9 col-md-10">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Backbone Collection</h3>
						</div>
						<div class="panel-body">
							<p>The Backbone.Collection is exactly what it's name implies: A collection/array of models. The Backbone.Collection offers quite a few features out of the box:</p>
							<ul>
								<li>sort - Sorts the models in the order they are given to it. Define a 'sort' property with a comparator function to sort differently.</li>
								<li>filter - Filter the elements in the collection based on a truth test</li>
								<li>where - Pass an object, looks through each element in the collection and returns an array of objects that contain all of the key/value pairs in the passed in object.</li>
								<li>Many more, check out the <a href="http://backbonejs.org/#Collection" target="_blank">documentation!</a></li>
							</ul>

							<p>The simplest way to build a collection is to pass it an array of Objects. For navigation menus that seldom change, this is fine.</p>
							<code>
								<pre>
// The menu items. Pass as an argument to new Collection and each one will be turned into a Backbone.Model
var menuItems = [
	{
		title: 'Hello World',
		linkUrl: '../BackboneExample/HelloWorld.html'
	},
	{
		title: 'What is a Template',
		linkUrl: '../BackboneExample/BackboneTemplate.html'
	},
	{
		title: 'What is a Model',
		linkUrl: '../BackboneExample/BackboneModel.html'
	},
	{
		title: 'What is a Collection',
		linkUrl: '../BackboneExample/BackboneCollection.html'
	},
	{
		title: 'What is a Router',
		linkUrl: '../BackboneExample/BackboneRouter.html'
	}
];

var menuCollection = new Backbone.Collection(menuItems);
var MenuItemView = Backbone.View.extend({
	tagName: 'li',
	template: _.template('&lt;a href=\'<%= linkUrl %>\'&gt;<%= title %>&lt;/a&gt;'),
	initialize: function(options) {
		this.model = options.model;
		this.render();
	},
	render: function() {
		// Check if the model has 'currentPage' in the linkUrl, if so add the active class
		var currentPath = location.pathname;
		var currentPage = currentPath.substring(currentPath.lastIndexOf('/'));
		if (this.model.get('linkUrl').indexOf(currentPage) > -1) {
			this.$el.addClass('active');
		}
		this.$el.html(this.template(this.model.attributes));
	}
});

var MenuView = Backbone.View.extend({
	el: '#leftMenu',
	initialize: function(options) {
		this.collection = menuCollection;
		this.render();
	},
	render: function() {
		var that = this;
		// Loop thru all the items in the collection and render a MenuItem. 'menuItem' is the model in the collection
		this.collection.forEach(function(menuItem) {
			var menuItemView = new MenuItemView({model: menuItem});
			that.$el.append(menuItemView.el);
		});
	}
});
								</pre>
							</code>
							<hr>
							<p>However, if you want to get things a little more dynamically, you'll need to 'extend' the Backbone.Collection and define a few properties. Mainly the URL to define how to get the collection.</p>
							<p>The Advantage to this is each record gets it's own view and model. So each <i>thing</i> stands on it's own, independent from everything else. Being independent means each thing has it's own events, it's own model. So we can modify records in the collection without worrying about affecting the other items. This is a HUGE advantage.</p>
							<p><b>NOTE:</b> Use the parse function if your REST service isn't returning just an array of objects. Should return the property in the response which contains your collection items</p>
							<button id="getWeatherButton" class="btn btn-primary" type="button">Get Weather</button>
							<div id="weatherItems" class="col-md-12 padded"></div>
							<code>
								<pre>
// The Model which will be used for each item in the collection
var WeatherModel = Backbone.Model.extend({
	idAttribute: 'dt',
	defaults: {
		temp: {
			max: 0,
			min: 0
		},
		weather: [{
			description: '',
			icon: ''
		}],
		dt: new Date().toLocaleDateString(),
		humidity: 0,
		speed: 0
	}
});

// The collection with a URL to tell Backbone how to get it's models. Notice the parse function
var DailyWeatherCollection = Backbone.Collection.extend({
	url: 'http://api.openweathermap.org/data/2.5/forecast/daily',
	model: WeatherModel,
	parse: function(response) {
		return response.list;
	}
});

// The View we'll use for each model in the collection
var WeatherItemView = Backbone.View.extend({
	tagName: 'div',
	className: 'panel panel-info',
	initialize: function(options) {
		this.model = options.model;
	},
	render: function() {
		var tmpl = _.template($('#weatherItemTemplate').html());
		this.$el.html(tmpl(this.model.attributes));
	}
});

// This is our template for the WeatherItemView
&lt;script type="text/template" id="weatherItemTemplate"&gt;
	&lt;div class="panel-heading"&gt;
		&lt;h5&gt;Weather for &lt;%= new Date(dt * 1000).toLocaleDateString() %&gt;&lt;/h5&gt;
	&lt;/div&gt;
	&lt;div class="panel-body"&gt;
		&lt;div class="col-md-2 weatherHighLow" style="background-image: url('http://openweathermap.org/img/w/&lt;%= weather[0].icon %&gt;.png');"&gt;
			&lt;%= parseInt(temp.max,10) + '/' + parseInt(temp.min,10) %&gt;
		&lt;/div&gt;
		&lt;div class="col-md-10 weatherDetail"&gt;
			&lt;ul class="weatherDetailList"&gt;
				&lt;li&gt;Description: &lt;%= weather[0].description %&gt;&lt;/li&gt;
				&lt;li&gt;Humidity: &lt;%= humidity %&gt;&lt;/li&gt;
				&lt;li&gt;Pressure: &lt;%= pressure %&gt;&lt;/li&gt;
				&lt;li&gt;Wind Speed: &lt;%= speed %&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/script&gt;

/*
 * The View defining where we'll put the WeatherItemViews. In the render function, we fetch the collection
 * and then once the request has received a response, we loop through the data rendering each model/view in the 
 * collection.
 */
var WeatherItemsView = Backbone.View.extend({
	el: '#weatherItems',
	initialize: function(options) {
		this.collection = new DailyWeatherCollection();
	},
	render: function() {
		var that = this;
		this.collection.fetch({
			data: {
				q: 'Atlanta',
				units: 'imperial',
				cnt: 5
			},
			success: function(response, statusText, xhr) {
				response.forEach(function(weatherItem) {
					var weatherItemView = new WeatherItemView({model: weatherItem});
					weatherItemView.render();
					that.$el.append(weatherItemView.el);
				});
			}
		});
	}
});

// This is the click event on the 'Get Weather' button
$("#getWeatherButton").on("click", function(evt) {
	var weatherItemsView = new WeatherItemsView().render();
});
								</pre>
							</code>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
startBackboneCollection();
$("#getWeatherButton").on("click", function(evt) {
	var weatherItemsView = new WeatherItemsView().render();
});
		</script>

		<script type="text/template" id="weatherItemTemplate">
			<div class="panel-heading">
				<h5>Weather for <%= new Date(dt * 1000).toLocaleDateString() %></h5>
			</div>
			<div class="panel-body">
				<div class="col-xs-3 weatherHighLow" style="background-image: url('http://openweathermap.org/img/w/<%= weather[0].icon %>.png');">
					<%= parseInt(temp.max,10) + '/' + parseInt(temp.min,10) %>
				</div>
				<div class="col-xs-9 weatherDetail">
					<ul class="weatherDetailList">
						<li>Description: <%= weather[0].description %></li>
						<li>Humidity: <%= humidity %></li>
						<li>Pressure: <%= pressure %></li>
						<li>Wind Speed: <%= speed %></li>
					</ul>
				</div>
			</div>
		</script>

	</body>
</html>
