<div id="formAlert" class="alert alert-dismissible <%= styleClass %>" role="alert" style="display: none;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<%= message %>
</div>