<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Backbone Exercise</title>
		<script src="lib/jquery.js"></script>
		<script src="lib/bootstrap.js"></script>
		<script src="lib/underscore.js"></script>
		<script src="lib/backbone.js"></script>
		<script src="scripts/backboneSite.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Backbone Example NSF</a>
				</div>
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Home
							</a>
						</li>
						<li>
							<a href="#/contacts">
								<i class="glyphicon glyphicon-user"></i>
								Contacts
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<!-- This is our content area -->
				<div id="siteContent" class="padded">

				</div>
			</div>
		</div>

		<script type="text/template" id="ContactsTableTemplate">
<!-- START #ContactsTableTemplate -->
<div class="panel-heading">
	<h4>Contacts</h4>
	<div class="pull-right panelActionsContainer">
		<ul class='panelActionsList list-inline'>
			<li>
				<a id="newContact" href="#/contacts/new" title="New Contact">
					<i class="glyphicon glyphicon-new-window"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Home Phone</th>
				<th>CellPhone</th>
				<th>Supervisor</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<!-- END #ContactsTableTemplate -->
		</script>

		<script type="text/template" id='ContactsTableItemTemplate'>
<!-- START #ContactsTableItemTemplate -->
<td><%= LastName %></td>
<td><%= FirstName %></td>
<td><%= Email %></td>
<td><%= HomePhone %></td>
<td><%= CellPhone %></td>
<td><%= Supervisor %></td>
<td style="vertical-align: middle;">
	<a href="#" id="deleteCollectionContact">
		<i class="glyphicon glyphicon-trash"></i>
	</a>
</td>
<!-- END #ContactsTableItemTemplate -->
		</script>

		<script type="text/template" id="ContactTemplate">
<!-- START #ContactTemplate -->
<div class="panel-heading">
	<h4><%= FirstName || LastName ? FirstName + ' ' + LastName : 'New User' %></h4>
	<div class="pull-right panelActionsContainer">
		<ul class="panelActionsList list-inline">
			<li>
				<a href="#" id="saveContact" title="Save Contact">
					<i class="glyphicon glyphicon-save"></i>
				</a>
			</li>
			<li>
				<a href="#" id="deleteContact" title="Delete Contact">
					<i class='glyphicon glyphicon-trash'></i>
				</a>
			</li>
			<li>
				<a href="#" id="closeContact" title="Close Contact" class="closeContact">
					x
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="panel-body form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">First Name</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="FirstName" value="<%= FirstName %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Last Name</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="LastName" value="<%= LastName %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Email</label>
		<div class="col-md-10">
			<input class="form-control" type="email" name="Email" value="<%= Email %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Home Phone</label>
		<div class="col-md-10">
			<input class="form-control" type="tel" name="HomePhone" value="<%= HomePhone %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Cell Phone</label>
		<div class="col-md-10">
			<input class="form-control" type="tel" name="CellPhone" value="<%= CellPhone %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Supervisor</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="Supervisor" value="<%= Supervisor %>" />
		</div>
	</div>
</div>
<!-- END #ContactTemplate -->
		</script>

		<!-- START our application -->
		<script type="text/javascript">
$(document).ready(function() {
	router = new App();
	Backbone.history.start();
});
		</script>
	</body>
</html>